body {
	font-family: "Trebuchet MS", Arial;
	font-size: 12px;
	background-image: url(/Content/images/bg.png);
	background-repeat: repeat-y;
	background-position: right;
	background-color: #558b9e;
	min-width: 1280px;
	height: 100%;
}
.dxeBase
{
 font-family: "Trebuchet MS", Arial;
}
.lbpar 
{
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom-width: 2px;
    border-bottom-color: #b0b0b0;
}

.lbpar,  .lbpar .dxeListBoxItem 
{
 font-family: "Trebuchet MS", Arial;
}

.lbpar .dxeHFC, .lbpar .dxeFTM 
{
 padding-left: 20px;   
}

.lbpar .dxeHLC, .lbpar .dxeLTM 
{
 padding-right: 20px;   
}

.lbpar .dxeHC, .lbpar .dxeHLC, .lbpar td.dxeHMIC, .lbpar .dxeListBoxItem, .lbpar td.dxeLTM, .lbpar td.dxeTM, .lbpar td.dxeMIM 
{
    border-left: none !important;
}
.lbpar .dxeHD 
{
	background-image: url(/Content/images/lb_hdr.png);
	background-repeat: repeat-x;
	background-position: top;
	height: 34px;
	border-bottom: none;
}
.lbpar .dxeHD table
{
	padding-top: 5px;
}
.wrapper_full {
	width: 100%;
	background-image: url(/Content/images/globus.png);
	background-repeat: no-repeat;
	background-position: right top;
	height: 100%;
	position: absolute;
	min-width: 1280px;
}
#topm {
	height: 15px;
}
#header-bottom {
	height: 141px;
	margin: 10px;
}


#header-center {
	height: 40px;
	background-image: url(/Content/images/shadowth.png);
	background-repeat: repeat-x;
	background-position: top;
}

#header-menu {
	padding-top: 10px;
	padding-left: 30px;
}
ul.top-menu a{
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	color: #fbf9f9;
}

ul.top-menu li a.selected, ul.top-menu li a:hover{
	border-bottom-width: 1px;
	border-bottom-color: #fbf9f9;
	border-bottom-style: solid;
}
#sname {
	text-transform: uppercase;
	font-size: 24px;
	padding-top: 15px;
	padding-left: 45px;
	float: left;
}
#username {
	float: right;
	padding-top: 15px;
	border-bottom-width: 2px;
	border-bottom-color: #fbf9f9;
	border-bottom-style: dashed;
	font-weight: bold;
	font-size: 16px;
}
#button_exit {
	float: right;
	padding-top: 18px;
	margin-left: 20px;
	padding-right: 25px;
}




#header {
	height: 284px;
	color: #fbf9f9;
}
#footer {
	height: 14px;
}
ul.top-menu {
	list-style: none outside none;
	margin: 0px;
	padding: 5px;
	font-family: "Trebuchet MS";
	font-size: 14px;
}
.vpanel {
	background-image: url(/Content/images/vpanelbg.png);
	background-repeat: repeat;
	height: 141px;
	margin: 0 auto;
}
#vresource {
	width: 284px;
}
#vresearchbox {
	width: 33%;
}
#vresourcebox {
	width: 23%;
}
td#vrestlir {
	font-size: 36px;
	padding-top: 0px;
	padding-left: 10px;
}
td#vresilir {
	font-size: 14px;
	text-transform: uppercase;
	padding-top: 0px;
	padding-left: 3px;
	padding-right: 5px;
}


#vtopdangerbox {
	width: 16%;
}
#vimpactdirbox {
	width: 28%;
}
td.vname {
	font-size: 23px;
	text-transform: uppercase;
	padding-left: 10px;
	vertical-align:top;
}

.vpanelbox {
	float: left;
	font-family: "Trebuchet MS", Arial;
	letter-spacing: -0.25px;
}

#vtopdanger {
	width: 194px;
}

#vresearch {
	width: 407px;
}

#vimpactdir {
	width: 336px;
}

ul.top-menu li {
	display: inline;
	margin-right: 5px;
	padding: 10px;
}
#header-top {
	background-image: url(/Content/images/headertopbg.png);
	background-repeat: repeat-x;
	height: 59px;
}
.clear {
	clear:both;display:block;
	height:0px;font-size:0;
	overflow:hidden;
}
td.vresozu {
	font-size: 28px;
	padding-left: 10px;
}
td.vrescpu {
	font-size: 12px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 5px;
}
td.vrescpuinv {
	background-color: #fefefe;
	color: #2f434c;
	font-size: 18px;
}
td#vrescpuinv {
	background-color: #fefefe;
	color: #2f434c;
}
td.vrescozu {
	font-size: 28px;
	padding-right: 5px;
}
td#vnvtl {
	background-image: url(/Content/images/nvtl.png);
	background-repeat: no-repeat;
}
td#vnvtr {
	background-image: url(/Content/images/nvtr.png);
	background-repeat: no-repeat;
}
td#vnvbl {
	background-image: url(/Content/images/nvbl.png);
	background-repeat: no-repeat;
}
td#vnvbr {
	background-image: url(/Content/images/nvbr.png);
	background-repeat: no-repeat;
}
td.nvperc {
	height: 43px;
	width: 75px;
	color: #2b3f47;
	font-size: 32px;
	text-align: center;
	padding: 1px;
}
td.nvtxtl {
	text-align: right;
	padding-right: 10px;
}
td.nvtxtr {
	padding-left: 10px;
}
#header-sh {
	background-image: url(/Content/images/shadowbh.png);
	background-repeat: repeat-x;
	background-position: bottom;
	height: 284px;
}
#content {
	margin: 0px;
	padding: 0px;
	background-color: #ffffff;
	overflow: auto;
}
#content-top {
	margin: 0px;
	padding: 0px;
	color: #646464;
	overflow: auto;
	outline-style: none;
	background-image: url(/Content/images/shadowtc.png);
	background-repeat: repeat-x;
	background-position: bottom;
}
#pagename {
	font: 36px Calibri;
	float: left;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-top: 5px;
	text-transform: uppercase;
}
#toolbuttons {
	float: left;
	padding-top: 10px;
	padding-left: 20px;
}
#tablenavbuttons {
	float: right;
	padding-right: 10px;
	padding-top: 15px;
}
#content-main {
	margin: 0 auto;
	padding: 10px;
	overflow: auto;
}
.detailrow {
	background-image: url(/Content/images/detailrowb.png);
	background-repeat: repeat-x;
	background-position: bottom;
	overflow:auto;
}
#detailrowheader {
	height: 35px;
	background-image: url(/Content/images/detailrowh.png);
	background-repeat: repeat-x;
	background-position: top;
	width:100%;
	color:#fefefe;
	font-weight: bold;
}
#detailrowcontent {
	margin-bottom: 20px;
	overflow: auto;
}

#btnNew, #btnComp, #btnDel {
	float: left;
}
.detailrowparams {
	float: left;
	min-width: 580px;
	text-align: left;
	padding-top: 5px;
	padding-left: 30px;
}
.detailrowevents {
	float: left;
	padding-top: 5px;
	padding-bottom: 10px;
	padding-left: 30px;
	text-transform: uppercase;
	text-align: left;
}
.detailrowreport {
	float: right;
	padding-top: 5px;
	padding-right: 20px;
}
.chartHolder {
	background-image: url(/Content/images/shgraph.png);
	background-repeat: repeat-x;
	background-position: bottom;
	width: 115px;
	height: 65px;
}

#FullContent {
	min-height: 600px;
	background-color: #FEFEFE;
}

.ResearchChart {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 11px;
    font-family: "Trebuchet MS";
    text-align: center;
    vertical-align: top;
}

#OStable {
    font-size: 11px;
    vertical-align: top;
    text-align: center;
}

#loginbox {
	height: 350px;
	width: 524px;
	overflow: auto;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -168px;
	margin-left: -262px;
	font-family: "Trebuchet MS", Arial;
	line-height: 1.5;
}
 
#loginhr {
	font-size: 24px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #333333;
	color: #fdfbfb;
}

#logincr {
	font-size: 14px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #477888;
	color: #e3e3df;
	line-height: 2.3;
}

.button {
	font-family: "Trebuchet MS", Arial; 
	font-size: 14px;
	color: #FFFFFF;
	background-color: #0c627f;
	background-image: url(/Content/images/btnlogin.png);
	background-repeat: repeat-x;
	background-position: top;
	vertical-align: middle;
	border: none !important;
	height: 30px;
	cursor: pointer;
}

.buttonHover {
	font-family: "Trebuchet MS", Arial;
	font-size: 14px;
	color: #FFFFFF;
	background-color: #2986a5;
	background-image: none;
	border-width: 0px;
	height: 25px;
	cursor: pointer;
}
.buttonDisable {
	font-family: "Trebuchet MS", Arial;
	font-size: 14px;
	color: #646464;
	background-color: #F3F3F3;
	background-image: none;
	height: 25px;
	cursor: default;
}
#chartOSuse, #chartCountEv, #chartDanger{
	height: 100px;
}

.highlight {
          background-color:#ffff66;
}
.accordion {  
	width: 100%;  
}  
  
.accordionHeader, .accordionHeaderSelected {
	border: 1px solid #c8c8c8;
	color: #474747;
	background-color: #ffffff;
	background-image: url(/Content/images/acchdrbg.png);
	font-family: "Trebuchet MS",Arial;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	height:44px;
	background-repeat: repeat-x;
	background-position: bottom;
}  
  
.accordionHeader .acchdr{
	background-image: url(/Content/images/acchdrcl.png);
	background-repeat: no-repeat;
	background-position: left center;
	float:left;
	padding-top: 5px;
	padding-left: 40px;
	margin-top: 10px;
	margin-left: 15px;
}  

.accordionHeaderSelected .acchdr{
	background-image: url(/Content/images/acchdrop.png);
	background-repeat: no-repeat;
	background-position: left center;
	float:left;
	padding-top: 5px;
	padding-left: 40px;
	margin-top: 10px;
	margin-left: 15px;
}  

#accfs {
	width: 10px;
	height:100%;
	background-color:#4b5961;
	float:left;
}

#accrg {
	width: 10px;
	height:100%;
	background-color:#257793;
	float:left;
}

#accpr {
	width: 10px;
	height:100%;
	background-color:#f29441;
	float:left;
}

#accnt {
	width: 10px;
	height:100%;
	background-color:#ce4822;
	float:left;
}

.accordionContent {  
	background-color: #FFFFFF;  
	background-image: url(/Content/images/acc_bg.png);
	background-repeat: repeat-x;
	background-position: bottom;
	border: none;  
	padding-bottom:10px;
}
.addparams {
	width: 100%;
	color:#FFFFFF;
	background-color: #588fa3;
	font-family: "Trebuchet MS", Arial;
	font-size: 14px;
	text-transform: uppercase;
	height: 25px;
	text-indent:20px;
	padding-top:7px;
}

.mainparams {
	width: 100%;
	color:#FFFFFF;
	background-color: #474747;
	font-family: "Trebuchet MS", Arial;
	font-size: 14px;
	text-transform: uppercase;
	height: 25px;
	text-indent:20px;
	padding-top:7px;
}

#mainprmcont {
	background-color: #f3f3f3;
	padding: 20px;
}

.titlegr {
	background-color: #f3f3f3;
	color:#020202;
	font-size: 22px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 25px;
	margin-bottom: 10px;
}

.titlegr a, .titlegr a:visited {
	background-color: #f3f3f3;
	color:#020202;
	font-size: 22px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	text-decoration: none;
}

.titlegr a:hover {
	text-decoration: underline ;
}

.backbtn {
	padding-left: 20px;
}

.addparamhd {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-indent: 30px;
	font-size: 14px;
	font-weight:bold;
	color: #474747;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dad9d9;
}

.addparamhr {
	width: 100%;
	height: 5px;
	background-color: #2b5360;
}
.centerdiv 
{
    margin: auto;
}